:root {
  background-color: #1e1e1e;
  color: whitesmoke;
  font-family: sans-serif;
}

#clippy {
  animation: spin infinite 1s linear;
  border-radius: 100%;
  width: 10rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
